@model IEnumerable<POSale.Models.Product>

@{
    ViewData["Title"] = "AllProducts";
}

<h1>AllProducts</h1>

@if (ViewBag.SMessage != null)
{
    <div class="alert alert-success">@ViewBag.SMessage</div>
}
else if (ViewBag.EMessage != null)
{
    <div class="alert alert-warning">@ViewBag.EMessage</div>
}
<p>
    <a asp-action="AddProduct" class="btn btn-primary btn-sm">Create New</a>
</p>
<table class="table table-responsive text-nowrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSerial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductSerial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>
                <td>
                    <a asp-action="EditProduct" asp-route-id="@item.ProductId" class="btn btn-info btn-sm">Edit</a> |
                    <a asp-action="DetailProduct" asp-route-id="@item.ProductId" class="btn btn-success btn-sm">Details</a> |
                    <a asp-action="DeleteProduct" asp-route-id="@item.ProductId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
