@model IEnumerable<POSale.Models.Customer>

@{
    ViewData["Title"] = "AllCustomer";
}
<link href="~/css/datatables.min.css" rel="stylesheet" />

<h1>AllCustomer</h1>

@if (ViewBag.SMessage != null)
{
    <div class="alert alert-success">@ViewBag.SMessage</div>
}
else if (ViewBag.EMessage != null)
{
    <div class="alert alert-warning">@ViewBag.EMessage</div>
}

<p>
    <a asp-action="AddCustomer" class="btn btn-outline-primary">Add New</a>
</p>
<table class="table table-responsive text-nowrap" id="tbl-cust">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerUsername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFeedback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerDateOfBirth)
                </td>
                <td>
                    <a asp-action="EditCustomer" asp-route-id="@item.CustomerId" class="btn btn-info btn-sm">Edit</a> |
                    <a asp-action="Customerdetail" asp-route-id="@item.CustomerId" class="btn btn-success btn-sm">Details</a> |
                    <a asp-action="DeleteCustomer" asp-route-id="@item.CustomerId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript" src="~/js/datatables.min.js"></script>
    <script>
        $document.ready(function () {
            $("#tbl-cust").DataTable();
        });
    </script>
}
