@model IEnumerable<POSale.Models.Customer>

@{
    ViewData["Title"] = "AllCustomer";
}
<link href="~/css/datatables.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<h1>AllCustomer</h1>

@if (ViewBag.SMessage != null)
{
    <div class="alert alert-success">@ViewBag.SMessage</div>
}
else if (ViewBag.EMessage != null)
{
    <div class="alert alert-warning">@ViewBag.EMessage</div>
}

<p>
    <a asp-action="AddCustomer" class="btn btn-outline-primary">Add New</a>
</p>
<table class="table table-responsive text-nowrap" id="tbl-cust">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="parentitem">
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerUsername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFeedback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerDateOfBirth)
                </td>
                <td>
                    <input type="hidden" id="id" value="@item.CustomerId" />
                    <a asp-action="EditCustomer" asp-route-id="@item.CustomerId" class="btn btn-info btn-sm">Edit</a> |
                    <a asp-action="Customerdetail" asp-route-id="@item.CustomerId" class="btn btn-success btn-sm">Details</a> |
                    <a href="" data-toggle="#myModal" class="btn btn-danger btn-sm btndelete">remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Customer</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure ? You want to delete this. </h4>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="ConfirmDelete()">Confirm</a>
            </div>

        </div>

    </div>

</div>


@section Scripts{
    <script type="text/javascript" src="~/js/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#tbl-cust").DataTable();
        });
    </script>

    <script>

        var ConfirmDelete = function (id) {

            $("#myModal").modal('Show');

        }


        $(document).on("click", ".btndelete", function () {

            var closestdiv = $(this).closest(".parentitem");
            var Id = closestdiv.find("#id").val();

            $.ajax({

                type: "GET",
                url: "/Home/DeleteCustomer",
                data: { Id: Id },
                success: function (result) {
                    $("#myModal").modal("hide");
                    closestdiv.remove();

                }

            });

        });
    </script>
}
